 body
{
    margin: 0;
    padding: 0;
    min-width: 320px;
    background-color: #FAFAF9;
}

/* ------------------------------HEADER----------------------------- */

.header
{
    width: 100%;
    background: linear-gradient(to bottom right,#F2B236, #FF9C1A);
    display: grid;
    grid-template-columns:25% auto 25%;
    justify-items: center;
}

.header__logo
{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAF9;
    align-self: flex-end;
    padding-bottom: 10%;
    margin: 0;
}

.header__logo:hover
{
    font-size: 23px;
}

.header__icon:hover
{
    transform: scale(1.2);
}

.justify-start
{
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 1em;
    justify-self: start;
}

.justify-end
{
    justify-self: end;
    margin-top: 30%;
    margin-right: 1em;
    margin-bottom: 30%;
}

.menu
{
    background: #FAFAF9;
    box-shadow: 0px 5px 13px #EBE7E0;
    width: 100%;
    grid-row: 2/3;
    grid-column: 1/4;
    text-align: center;
}

.menu__phone
{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #884900;
}






.main
{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 6em;
}

.h1
{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    color: #222528;
}

.main__form
{
    background: #FFFFFF;
    border: 1px solid #CED0D2;
    box-sizing: border-box;
    border-radius: 34px;
    display: grid;
    grid-template-columns: 80% auto ;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

input.main__form__input::placeholder
{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #A5AAAF;
}

.main__form__input
{
    border: 0;
    outline: 0;
}

.main__form__input:focus
{
    border: 0;
    outline: 0;
}

.main__form__input__label
{
    display: none;
}

.main__form__button
{
    width: auto;
    justify-self: end;
    background-color: #FFFFFF;
    border: 0;
}

.main__form__button:active     
{
    outline: none;
}

.sort
{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #DB4E66;
}
.sort__link
{
    color: #DB4E66;
    text-decoration: none;
}

.sort__link:hover
{
    color: #222528;
}

.filterBlock
{
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0px 5px 10px #EBE7E0;
    width: 90%;
}

.filterBlock__header
{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-radius: 25px;
    border: 0;
    background-color: #FFFFFF;
}

.filterBlock__header:active
{
    outline: none;
}

.filterBlock__header__text
{
    justify-self: start;
}

.filterBlock__header__icon
{
    justify-self: end;
}

.filterBlock__kategory
{
    padding-left: 1em;
    padding-right: 1em;
}

.filterBlock__kategory__text
{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #222528;
    width: 100%;
    border-bottom: 1px solid #CED0D2;
    padding-bottom: 0.5em;
}

.filter__form
{
    display: grid;
    grid-template-columns: 15% auto;
    align-items: start;
}

.filter__form__checkbox
{
    background: #FAFAF9;
    border: 1px solid #A5AAAF;
    box-sizing: border-box;
    border-radius: 3px;
}

.filter__form__label
{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5B636B;
    width: 60%;
    margin-bottom: 1em;
}

.filter__form__button
{
    padding: 0;
    grid-column: 1/3;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: start;
    margin-bottom: 1em;
    border: 0;
    background-color: #FFFFFF;
}

.filter__form__button:hover
{
    color: #222528;
}

.filter__form__button:active
{
    outline: none;
}

.main__h2
{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #A5AAAF;
    margin-top: 2em;
    margin-bottom: 1em;   
}

.news
{
    background: #FFFFFF;
    border: 1px solid #CED0D2;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.news__header
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%;
}

.news__header__img
{
    grid-row: 1/3;
}

.news__header__text
{
    padding: 0;
    margin: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #222528;
    margin-left: 0.5em;
    justify-self: start;
    align-self: center;
}

.news__header__untext
{
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #A5AAAF;
    justify-self: start;
    align-self: center;
}

.news__text
{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #222528;
}

.news__untext
{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #A5AAAF;
}

.news__untext__link
{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #A5AAAF;    
}

.news__link
{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #DB4E66;
    text-decoration: none;
    align-self: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.news__link:hover
{
    color: #222528;
}







.footer
{
    background: linear-gradient(to bottom right,#F2B236, #FF9C1A);
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 3em;
}

.footer__header__text
{
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #884900;
}

.footer__block
{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; auto;
    gap: 5%;
    padding-left: 1em;
    padding-right: 1em;
}

.footer__block__unblock
{
    display: flex;
    flex-direction: column;
}

.footer__block__unblock__link
{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #FAFAF9;
    text-decoration: none;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.footer__block__unblock__link:hover
{
    color: #222528;
}

.footer__block__unblock__area23
{
    grid-column: 2/3;
    grid-row: 1/3;
}

.footer__block__unblock__area12
{
    grid-row: 2/4;
}

.footer__footer
{
    display: flex;
    flex-direction: column;
    background: #222528;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
}

.footer__footer__link
{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #CED0D2;
    text-decoration: none;
    text-align: center;
}

.footer__footer__link:hover
{
    font-weight: bold;
}